form {
    flex-wrap: wrap !important;
}

.form-control {
    z-index: 1;
}

#chatbox {
    text-decoration: none;
    font-family: "Montserrat", serif !important;
}

.question-style {
    color: #783B80;
    font-size: 130px !important;
    font-weight: bold !important;
}

#date{
    color: #783B80;
    font-size: 40px !important;
    font-weight: normal !important;
}

#userPrompt {
    height: 50vh !important;
    width: 95% !important;
    border-radius: 40px !important;
    padding: 15%;
    word-wrap: break-word; /* Allows text to break onto the next line */
    white-space: normal; /* Ensures text wraps to the next line */
    resize: none; /* Optional: Disables resizing if using a textarea */
}

.btn {
    background-color: #783B80 !important;
    color: #F3D7ED !important;
    font-size: 35px !important;
    font-weight: bold !important;
    border-radius: 20px !important;
    float: right !important;
    z-index: 2 !important;
    margin-top: -5vh !important;

}