body{
    background-color: pink !important; 
}
#question-section {
    color: #783B80;
    font-size: 100px !important;
    text-decoration: none;
    font-family: "Montserrat", serif !important;
    font-weight: bold !important;

}
#date{
    color: #783B80;
    font-size: 50px !important;
    text-decoration: none;
    font-family: "Montserrat", serif !important;
    font-weight: 500 !important;
}
#text-section{
    border-radius: 20%;
}
