#playlist_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    padding: 20px;
}

.playlist_item {
    background-color: #69306D !important;
    border-radius: 200px;
    min-width: 350px;
    height: 350px;
    padding: 100px 60px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.playlist_item>#print_song {
    color: #F3D7ED;
    font-size: 16pt;
    font-family: "Montserrat", serif;
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
}

.playlist_item>#print_artist{
    color: #F3D7ED;
    font-family: "Montserrat", serif;
    text-align: center;
}

.playlist_item img{
    border-radius: 10px;
}

#feeling_date {
    color: #69306D;
    font-family: "Montserrat", serif !important;
    text-align: center;
    font-size: 36pt;
    font-weight: bold;
    margin: 20px 10px;
    display: block;
    text-decoration: none;
}

#feeling_date:hover{
    color: #F3D7ED;
}
