<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/chat.css" type="text/css">
    <link href="/static/header.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <title>Document</title>
</head>
<body>
    <header class="header">
        <a href="#">Spoti<span>feel</span></a>
        <ul class="menu">
            <li><a href="#">My Profile</a></li>
            <li><a href="#">Log Out</a></li>
        </ul>
    </header>
    <section id = "question-section">
        <h1 id="question">Hur var din dag?</h1>
        <date id ="date"></date>
        <section id = "text-section">
            <form action="/" method="POST">
                <input type="text" id="userPrompt" name="userPrompt" placeholder="Beskriv din dag..." required>
                <button type="submit">Skicka</button>
            </form>
        </section>
    </section>
</body>
</html>
