<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Validate Emotion</title>
   <style>

        
   </style>

</head>
<body>
    <h1 id="title" name="title">{{title}}</h1>
    <div class="button-container">
            <button id="button1" name="button1">{{button1}}</button>
            <button id="button2" name="button2">{{button2}}</button>
    </div>

</body>
<script>
    function handleButtonClick(action) {
        fetch("/playlist", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                message:action
            }),
        })
        .then((response) => response.text())
        .then((html) => {
            document.body.innerHTML = html;
        });
    }

    document.getElementById("button1").addEventListener("click", () => handleButtonClick("true"));
    document.getElementById("button2").addEventListener("click", () => handleButtonClick("false"));
</script>
</html>

